# Fichiers et dossiers à ignorer lors de la construction de l'image Docker

# Dépendances
node_modules
.pnpm-store

# Fichiers de build
.next
out

# Fichiers de développement
.git
.github
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers d'environnement (à configurer via Docker)
.env
.env.*
!.env.example

# Fichiers de test
__tests__
coverage

# Autres
.DS_Store
README.md
Dockerfile
.dockerignore
.gitignore
.cursorignore
.cursorrules