# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Authentification
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# API externe
NEXT_PUBLIC_CTIA_API_KEY="your-api-key"
NEXT_PUBLIC_CTIA_API_URL="http://localhost:8080"

# Configuration Prisma
# Définir à "true" pour exécuter les migrations au démarrage du conteneur
PRISMA_MIGRATE=false

# Google Maps API Key
GOOGLE_MAPS_API_KEY="your-google-maps-api-key"